<!DOCTYPE html>

<head>
  <title>Dettagli parcheggio</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="img/logo.png" />
  <!-- JQuery-->
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>

  <!-- Popperjs -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.2/dist/umd/popper.min.js"
    crossorigin="anonymous"></script>

  <!-- Tempus Dominus JavaScript -->
  <!-- <script src="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@development/dist/js/tempus-dominus.js?b=7"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tempus-dominus/6-beta4/js/tempus-dominus.js"
    integrity="sha512-sVBWs4OpF/NBgL3op5qtx2jjGr5MOC7l2T537+iQ9qbekDbXMSDOkBGHiTBaF9904KOxEvNwr6ABARhoaAeW/Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/locales/it.js"
    crossorigin="anonymous"></script>

  <!-- Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">


  <!-- ICONS -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/css/tempus-dominus.css" rel="stylesheet"
    crossorigin="anonymous">
  <script src="scriptDetailParking.js" defer></script>
  <style>
    .imgDetail {
      width: 80%;
      height: 33vw;
      object-fit: cover;
    }

    .comment-text {
      font-size: 13px;
    }

    .user-feed {

      font-size: 14px;
      margin-top: 12px;
    }

    .rating-card {
      background-color: #fff;
      padding: 30px;
      margin-bottom: 30px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }

    .rating-number {
      font-size: 50px;
      font-weight: 600;
    }

    .rating-number small {
      font-size: 16px;
    }

    .rating-stars:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #eee;
    }

    .rating-stars .filled-star {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #ffc107;
    }

    .rating-stars img {
      height: 100%;
      width: 100%;
      display: block;
      position: relative;
      z-index: 1;
    }

    .rating-progress {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .rating-progress .rating-grade {
      padding: 3px 20px 3px 0;
      float: left;
      width: 50px;
      text-align: right;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    .rating-progress .rating-grade img {
      height: 15px;
      margin-left: 3px;
    }

    .rating-progress .progress {
      float: left;
      width: calc(100% - 110px);
      border-radius: 10px;
    }

    .rating-progress .progress .bg-warning {
      background-color: #ffc107 !important;
      border-radius: 10px;
    }

    .rating-progress .rating-value {
      padding: 3px 0 3px 20px;
      float: left;
      width: 60px;
    }

    .rating-progress:after {
      content: "";
      clear: both;
      display: table;
    }

    .rating {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center
    }

    .rating>input {
      display: none
    }

    .rating>label {
      position: relative;
      width: 1em;
      font-size: 30px;
      font-weight: 300;
      color: #ffc107;
      cursor: pointer
    }

    .rating>label::before {
      content: "\2605";
      position: absolute;
      opacity: 0
    }

    .rating>label:hover:before,
    .rating>label:hover~label:before {
      opacity: 1 !important
    }

    .rating>input:checked~label:before {
      opacity: 1
    }

    .rating:hover>input:checked~label:before {
      opacity: 0.4
    }
  </style>
</head>

<body>
  <%- include("./header.ejs", {logged: logged}) %>
    <!-- Page Content -->
    <div class="row">
      <div class="col-md-2">
        <div class="container mt-5" style="padding-left: 25%">
          <btn class=" btn btn-default btn-secondary mx-auto" onclick="goBack()">Torna indietro</btn>

        </div>
      </div>
      <div class="col-md-10" style="margin: 0px">
        <!-- Portfolio Item Heading -->
        <h1 class="my-4" id="parkingName"></h1>

        <!-- Portfolio Item Row -->
        <div class="row">
          <div class="col-md-7">
            <img class="img-fluid imgDetail" id="parkingImage" src="https://via.placeholder.com/700x500"
              alt="Parking image" />
          </div>

          <div class="col-md-4 d-flex flex-column">
            <!--<h3 class="my-3" id="parkingName"></h3>-->
            <p id="parkingId" hidden></p>
            <div>
              <p style="margin:0; padding:0">Indirizzo:</p>
              <div class="d-flex align-items-center justify-content-between">
                <h4 class="my-3 d-inline" id="parkingAddress"></h4>
                <button class="btn btn-sm btn-outline-primary d-inline me-3" id="btnOpenMap">Apri nella mappa</button>
              </div>
            </div>
            <div>
              <p>Città:</p>
              <h4 class="my-3" id="parkingCity"></h4>
            </div>
            <div>
              <p>Nazione:</p>
              <h4 class="my-3" id="parkingCountry"></h4>
            </div>
            <div>
              <p>Descrizione:</p>
              <h5 id="parkingDesc"></h5>
            </div>


            <% if (owner) { %>
              <div class="d-flex w-100 gap-2 flex-end mt-auto">
                <button class=" btn  btn-outline-success" onclick="toggleVisible()" id="btnVisible">Visibile: <label
                    id="lblVisible">Sì</label></button>
                <button class=" btn  btn-outline-secondary " onclick="modifyParking()" id="btnModifica">Modifica
                  Parcheggio</button>
                <button class=" btn  btn-outline-danger ms-auto" onclick="deleteParking()" id="btnElimina">Elimina
                  Parcheggio</button>
              </div>
              <% } %>

          </div>

        </div>
        <!-- /.row -->
        <hr />

        <!-- Related Projects Row -->
        <h3 class="my-4">Inserzioni</h3>
        <% if (owner) { %>
          <btn class="btn btn-lg btn-primary mb-3" id="newInsertion" data-bs-toggle="modal"
            data-bs-target="#exampleModal" data-bs-name="" data-bs-id="">Nuova Inserzione</btn>
          <% } %>
            <!-- <div class="row"> -->
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 col-md-11" id="insertionContainer">
              <div class="col" id="firstInsertion" hidden>
                <div class="card shadow-sm">
                  <div class="card-body">
                    <p class="card-text insertionId" hidden></p>
                    <p class="card-text insertionName"></p>
                    <p class="card-text insertionStartDate"></p>
                    <p class="card-text insertionEndDate"></p>
                    <p class="card-text insertionPriceHourly"></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex w-100 gap-2">
                        <button onclick="detailInsertion()" type="button"
                          class="btn  btn-outline-primary">Dettagli</button>
                        <% if (owner) { %>
                          <button onclick="modifyInsertion()" type="button"
                            class="btn  btn-outline-secondary">Modifica</button>
                          <button onclick="deleteInsertion()" type="button"
                            class="btn  btn-outline-danger ms-auto">Elimina</button>
                          <% } %>
                      </div>
                    </div>
                  </div>
                  <!-- </div> -->
                </div>
              </div>
              <div class="col-md-1"></div>
            </div>
            <hr />
            <!-- REVIEWS VISUALIZER -->
            <h3 class="my-4">Recensioni</h3>
            <!-- REVIEWS CONTAINER-->
            <div class="container row mt-3 float">
              <div class="col-md-4">
                <div class="container">
                  <div class="">
                    <div class="rating-card">
                      <div class="text-center m-b-30">
                        <h4>Panoramica recensioni</h4>
                        <br>
                        <h1 class="rating-number"><span id="starAverage">0</span><small>/5</small></h1>
                        <div class="rating-stars d-inline-block position-relative mr-2">
                          <img src="img/grey-star.svg" alt="">
                          <div class="filled-star" style="width:0%" id="starBar"></div>
                          <!-- modifica width per lunghezza barra -->
                        </div>
                        <div class="text-muted"><span id="totalReviews">0</span> recensioni</div>
                      </div>
                      <div class="rating-divided">
                        <div class="rating-progress">
                          <span class="rating-grade">5 <img src="./img/star.svg" alt=""></span>
                          <div class="progress">
                            <div id="5starBar" class="progress-bar bg-warning" role="progressbar" style="width: 0%"
                              aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <span class="rating-value" id="5starTot">0</span>
                        </div>
                        <div class="rating-progress">
                          <span class="rating-grade">4 <img src="./img/star.svg" alt=""></span>
                          <div class="progress">
                            <div id="4starBar" class="progress-bar bg-warning" role="progressbar" style="width: 0"
                              aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <span class="rating-value" id="4starTot">0</span>
                        </div>
                        <div class="rating-progress">
                          <span class="rating-grade">3 <img src="./img/star.svg" alt=""></span>
                          <div class="progress">
                            <div id="3starBar" class="progress-bar bg-warning" role="progressbar" style="width: 0%"
                              aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <span class="rating-value" id="3starTot">0</span>
                        </div>
                        <div class="rating-progress">
                          <span class="rating-grade">2 <img src="./img/star.svg" alt=""></span>
                          <div class="progress">
                            <div id="2starBar" class="progress-bar bg-warning" role="progressbar" style="width: 0%"
                              aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <span class="rating-value" id="2starTot">0</span>
                        </div>
                        <div class="rating-progress">
                          <span class="rating-grade">1 <img src="./img/star.svg" alt=""></span>
                          <div class="progress">
                            <div id="1starBar" class="progress-bar bg-warning" role="progressbar" style="width: 0%"
                              aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <span class="rating-value" id="1starTot">0</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="container col-md-8 m-0">

                <div class="row height d-flex justify-content-center align-items-center">
                  <div class="card" id="reviewContainer">

                    <!-- <div class="p-3">          CODICE PER AGGIUNGERE UNA RECENSIONE 
                <h6>Comments</h6>
              </div>
              <div class="mt-3 d-flex flex-row align-items-center p-3 form-color">
                <img src="https://i.imgur.com/zQZSWrt.jpg" width="50" class="rounded-circle mr-2">
                <input type="text" class="form-control" placeholder="Enter your comment...">
              </div> -->
                    <div class="mt-2" id="primaReview" hidden>
                      <div class="d-flex flex-row p-3">
                        <img src="https://img.icons8.com/bubbles/100/000000/user.png" width="40" height="40"
                          class="rounded-circle mr-3">
                        <div class="w-100">
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex flex-row align-items-center">
                              <span class="mr-2">Titolo</span>
                              <span class="mr-2">&nbsp;da&nbsp;</span>
                              <span class="mr-2">Utente</span>
                              <span class="mr-2">&nbsp;&nbsp;</span>
                            </div>
                            <small></small>
                          </div>
                          <small></small>
                          <div class="d-flex justify-content-between align-items-center"></div>
                          <p class="text-justify comment-text mb-0"></p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <% if (!owner) { %>
                    <% if (reviewable) { %>
                      <btn class="btn btn-lg btn-primary mb-3 mt-3" id="newReview" data-bs-toggle="modal"
                        data-bs-target="#reviewModal" data-bs-name="" data-bs-id="">Nuova Recensione</btn>
                    <% } else {%>
                      <btn class="btn btn-lg btn-primary mb-3 mt-3 disabled" id="newReview">Non hai prenotatazioni da recensire! 😭</btn>
                    <% } %>
                  <% } %>
                </div>

              </div>
            </div>
            <!-- FINE REVIEWS CONTAINER-->

            <!-- MODALE PER REVIEWS-->
            <div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalReviewLabel">Nuova recensione per: </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <label id="messageReview" class="text-danger d-block text-center"></label>
                  <div class="modal-body" id="divFormReview">
                    <form id="reviewForm">
                      <div class="mb-3">
                        <label id="title" class="text-danger d-block"></label>
                        <label id="parkIdReview" hidden></label>
                        <label for="recipient-name" class="col-form-label">Titolo:</label>
                        <input type="text" class="form-control" id="reviewTitle" required>
                      </div>
                      <span>Voto:</span>
                      <div class="rating">
                        <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                        <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                        <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                        <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                        <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                      </div>
                      <div class="mb-3">
                        <label id="description" class=" d-block"></label>
                        <label id="parkIdReviewLabel" hidden></label>
                        <label for="recipient-name" class="col-form-label">Descrizione:</label>
                        <textarea class="form-control" id="reviewDesc" style="height: 150px" rows="3"></textarea>
                      </div>
                      <div>
                        <label>Per la prenotazione:</label>
                        <select class="form-select" aria-label="Default select example" id="reservationsForm">
                        </select>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" id="close-review-modal" class="btn btn-secondary"
                      data-bs-dismiss="modal">Chiudi</button>
                    <button type="button" id="btnSubmitReview" onclick="createReview()"
                      class="btn btn-primary">Invia</button>
                  </div>
                </div>
              </div>
            </div>


            <!-- FINE MODALE REVIEWS-->

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nuova inserzione per: </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body" id="form">
                    <form id="insertionForm">
                      <div class="mb-3">
                        <label id="message" class="text-danger d-block"></label>
                        <label id="parkId" hidden></label>
                        <label for="recipient-name" class="col-form-label">Nome:</label>
                        <input type="text" class="form-control" id="insertion-name" required>
                      </div>
                      <!-- dt picker -->
                      <div class='row mb-3'>
                        <div class='col-sm-6'>
                          <label for='linkedPickers1Input' class='form-label'>Da:</label>
                          <div class='input-group log-event' id='linkedPickers1' data-td-target-input='nearest'
                            data-td-target-toggle='nearest'>
                            <input id='linkedPickers1Input' type='text' class='form-control'
                              data-td-target='#linkedPickers1' required />
                            <span class='input-group-text' data-td-target='#linkedPickers1'
                              data-td-toggle='datetimepicker'>
                              <span class='fa-solid fa-calendar'></span>
                            </span>
                          </div>
                        </div>
                        <div class='col-sm-6'>
                          <label for='linkedPickers2Input' class='form-label'>A:</label>
                          <div class='input-group log-event' id='linkedPickers2' data-td-target-input='nearest'
                            data-td-target-toggle='nearest'>
                            <input id='linkedPickers2Input' type='text' class='form-control'
                              data-td-target='#linkedPickers2' required />
                            <span class='input-group-text' data-td-target='#linkedPickers2'
                              data-td-toggle='datetimepicker'>
                              <span class='fa-solid fa-calendar'></span>
                            </span>
                          </div>
                        </div>
                      </div>
                      <!-- Insert price -->
                      <div class="row">
                        <div class='col-sm-6'>
                          <!-- Insert hourly price -->
                          <label for="hourlyPrice" class="form-label">Prezzo orario:</label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">€</span>
                            </div>
                            <input type="number" step=".01" min="0" class="form-control" id="insertion-hourlyPrice"
                              required>
                          </div>
                        </div>
                        <div class='col-sm-6'>
                          <!-- Insert daily price -->
                          <label for="dailyPrice" class="form-label">Prezzo giornaliero:</label>
                          <div class="mb-3">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">€</span>
                              </div>
                              <input type="number" step=".01" min="0" class="form-control" id="insertion-dailyPrice">
                            </div>
                          </div>
                        </div>
                        <!-- Insert min interval of reservation -->
                        <label for="minInterval" class="form-label">Intervallo minimo di prenotazione
                          (minuti):</label>
                        <div class="mb-3">
                          <div class="mb-3 input-group">
                            <input type="number" min="0" class="form-control" id="insertion-minInterval" required>
                            <div class="input-group-append">
                              <span class="input-group-text">min</span>
                            </div>
                          </div>
                        </div>
                    </form>

                    <!-- Checkbox for recurrence or non recurrence -->
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="" id="recurrence"
                        onclick="toggleRecurrence()">
                      <label class="form-check-label" for="recurrence">Ripetere l'inserzione</label>
                    </div>
                    <form>
                      <!-- Select days of the week -->
                      <div class="form-check mb-3" id="recurrenceContainer" hidden>
                        <div class="row mb-3" id="dayCheckboxes">
                          <div class="col-md-4">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="monday">
                              <label class="form-check-label" for="monday">Lunedì</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="tuesday">
                              <label class="form-check-label" for="tuesday">Martedì</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="wednesday">
                              <label class="form-check-label" for="wednesday">Mercoledì</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="thursday">
                              <label class="form-check-label" for="thursday">Giovedì</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="friday">
                              <label class="form-check-label" for="friday">Venerdì</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="saturday">
                              <label class="form-check-label" for="friday">Sabato</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="sunday">
                              <label class="form-check-label" for="friday">Domenica</label>
                            </div>
                          </div>
                        </div>
                        <!-- Select time start -->
                        <!-- Time picker -->
                        <div class="row">
                          <div class="col-sm-6">
                            <label for="recurrenceStart" class="form-label">Ora di inizio:</label>
                            <div class='input-group log-event' id='recurrenceStart' data-td-target-input='nearest'
                              data-td-target-toggle='nearest'>
                              <input id='recurrenceStartInput' type='text' class='form-control'
                                data-td-target='#recurrenceStart' required />
                              <span class='input-group-text' data-td-target='#recurrenceStart'
                                data-td-toggle='datetimepicker'>
                                <span class='fa-solid fa-clock'></span>
                              </span>
                            </div>
                          </div>
                          <!-- Select time end -->
                          <div class="col-sm-6">
                            <label for="recurrenceEnd" class="form-label">Ora di fine:</label>
                            <div class='input-group log-event' id='recurrenceEnd' data-td-target-input='nearest'
                              data-td-target-toggle='nearest'>
                              <input id='recurrenceEndInput' type='text' class='form-control'
                                data-td-target='#recurrenceEndInput' required />
                              <span class='input-group-text' data-td-target='#recurrenceEndInput'
                                data-td-toggle='datetimepicker'>
                                <span class='fa-solid fa-clock'></span>
                              </span>
                            </div>
                          </div>
                        </div>
                    </form>

                  </div>

                </div>

                <div class="modal-footer">
                  <button type="button" id="close-modal" class="btn btn-secondary"
                    data-bs-dismiss="modal">Chiudi</button>
                  <button type="button" id="btnSubmit" onclick="createInsertion()"
                    class="btn btn-primary">Invia</button>
                </div>
              </div>
            </div>
      </div>
      <!-- /.container -->
    </div>
    </div>
    <!-- /.row -->
    <%- include("footer.ejs", {logged: logged}) %>
</body>