
<!-- Bundle per bootstrap, va inserito verso fine pagina quindi lo teniamo nel footer-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Parcheggi</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Mappa</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Area Personale</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Info</a></li>
    </ul>
    <p class="text-center text-muted">© 2022 MSGC, Inc</p>
  </footer>