<% if (logged) { %>
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 px-3 mb-4 border-bottom">
  <script src="script.js"></script>
  <div class="d-flex col align-items-center mb-2 mb-md-0 text-dark text-decoration-none" style="flex: 1">
    <a href="/" >
      <img src="img/logo.png" class="ms-3"width="64px" height="64px"></img>
    </a>
  </div>
  

    <ul class="nav justify-content-center mb-md-0" style="flex: 1">
      <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
      <li><a href="parkings" class="nav-link px-2 link-dark">Parcheggi</a></li>
      <li><a href="/map" class="nav-link px-2 link-dark">Mappa</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Info</a></li>
    </ul>

    <div class="row col-2 col-md-auto align-right align-items-center justify-content-center" style="flex: 1">
      <div class="text-end">
        <a href="privateArea" class="btn btn-outline-primary px-2 me-2"><i class="fa-solid fa-user"
            style="margin-right: 0.4rem"></i><span>Area Personale</span></a>
        <button type="button" id="logOutBtn" class="btn btn-danger" onclick="logout()">Log out</button>
      </div>
    </div>
  </header>
  <% } else { %>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 px-3 mb-4 border-bottom">
      <div class="d-flex col-1 align-items-center mb-2 mb-md-0 text-dark text-decoration-none" style="flex: 1">
        <a href="/" >
          <img src="img/logo.png" class="ms-3"width="64px" height="64px"></img>
        </a>
      </div>
      

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0" style="flex: 1">
        <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="/parkings" class="nav-link px-2 link-dark">Parcheggi</a></li>
        <li><a href="/map" class="nav-link px-2 link-dark">Mappa</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Info</a></li>
      </ul>

      <div class="col-md-auto text-end" style="flex: 1">
        <a href="login" class="text-decoration-none">
          <button type="button" id="logInBtn" class="btn btn-outline-primary me-2">Login</button>
        </a>
        <a href="register" class="text-decoration-none">
          <button type="button" id="signUpBtn" class="btn btn-primary">Sign up</button>
        </a>
      </div>
    </header>
    <% } %>