<!DOCTYPE html>
<html>

<head>
  <title>PARKET - private Area</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="img/logo.png" />
  <!-- JQuery-->
  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>

  <!-- Popperjs -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.2/dist/umd/popper.min.js"
    crossorigin="anonymous"></script>

  <!-- Tempus Dominus JavaScript -->
  <!-- <script src="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/js/tempus-dominus.js"
    crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempus-dominus/6-beta4/js/tempus-dominus.js" integrity="sha512-sVBWs4OpF/NBgL3op5qtx2jjGr5MOC7l2T537+iQ9qbekDbXMSDOkBGHiTBaF9904KOxEvNwr6ABARhoaAeW/Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/locales/it.js"
    crossorigin="anonymous"></script>

  <!-- Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    <!-- ICONS -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/gh/Eonasdan/tempus-dominus@master/dist/css/tempus-dominus.css" rel="stylesheet"
    crossorigin="anonymous">
  <!--TODO mergiare-->
  <script src="scriptPrivateArea.js" defer></script>

  <style>
    /* GLOBAL STYLES
-------------------------------------------------- */
    /* Padding below the footer and lighter body text */
    .card-img-top {
      width: 100%;
      height: 25vw;
      object-fit: cover;
    }


    body {
      padding-top: 0rem;
      padding-bottom: 3rem;
      color: #5a5a5a;
    }

    /* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 4rem;
    }

    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
      bottom: 3rem;
      z-index: 10;
    }

    /* Declare heights because of positioning of img element */
    .carousel-item {
      height: 32rem;
    }

    .carousel-item>img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 32rem;
    }

    /* MARKETING CONTENT
-------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .col-lg-4 {
      margin-bottom: 1.5rem;
      text-align: center;
    }

    .marketing h2 {
      font-weight: 400;
    }

    /* rtl:begin:ignore */
    .marketing .col-lg-4 p {
      margin-right: 0.75rem;
      margin-left: 0.75rem;
    }

    /* rtl:end:ignore */

    /* Featurettes
------------------------- */

    .featurette-divider {
      margin: 5rem 0;
      /* Space out the Bootstrap <hr> more */
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-weight: 300;
      line-height: 1;
      /* rtl:remove */
      letter-spacing: -0.05rem;
    }

    /* RESPONSIVE CSS
-------------------------------------------------- */

    @media (min-width: 40em) {

      /* Bump up size of carousel content */
      .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
      }

      .featurette-heading {
        font-size: 50px;
      }
    }

    @media (min-width: 62em) {
      .featurette-heading {
        margin-top: 7rem;
      }
    }



    /* stile card utente */
    .imgDetail {
      width: 80%;
      height: 33vw;
      object-fit: cover;
    }

    body {
      background-color: #f9f9fa
    }

    .padding {
      padding: 2rem !important
    }

    .user-card-full {
      overflow: hidden;
    }

    .card {
      border-radius: 5px;
      -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
      box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
      border: none;
    }

    .m-r-0 {
      margin-right: 0px;
    }

    .m-l-0 {
      margin-left: 0px;
    }

    .user-card-full .user-profile {
      border-radius: 5px 0 0 5px;
    }

    .bg-c-lite-green {
      background: -webkit-gradient(linear, left top, right top, from(#5aaeee), to(#7163f2));
      background: linear-gradient(to right, #5aaeee, #7163f2);
    }

    .user-profile {
      padding: 20px 0;
    }

    .card-block {
      padding: 1.25rem;
    }

    .m-b-25 {
      margin-bottom: 25px;
    }

    .img-radius {
      border-radius: 5px;
    }

    h6 {
      font-size: 14px;
    }

    .card .card-block p {
      line-height: 25px;
    }

    @media only screen and (min-width: 1400px) {
      p {
        font-size: 14px;
      }
    }

    .card-block {
      padding: 1.25rem;
    }

    .b-b-default {
      border-bottom: 1px solid #e0e0e0;
    }

    .m-b-20 {
      margin-bottom: 20px;
    }

    .p-b-5 {
      padding-bottom: 5px !important;
    }

    .card .card-block p {
      line-height: 25px;
    }

    .m-b-10 {
      margin-bottom: 10px;
    }

    .text-muted {
      color: #919aa3 !important;
    }

    .b-b-default {
      border-bottom: 1px solid #e0e0e0;
    }

    .f-w-600 {
      font-weight: 600;
    }

    .m-b-20 {
      margin-bottom: 20px;
    }

    .m-t-40 {
      margin-top: 20px;
    }

    .p-b-5 {
      padding-bottom: 5px !important;
    }

    .m-b-10 {
      margin-bottom: 10px;
    }

    .m-t-40 {
      margin-top: 20px;
    }

    .user-card-full .social-link li {
      display: inline-block;
    }

    .user-card-full .social-link li a {
      font-size: 20px;
      margin: 0 10px 0 0;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
  </style>
</head>

<body>
  <%- include("header.ejs", {logged: logged}) %>
    <main>
      <p id="usrId" hidden><%=usr%></p>
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col page-content page-container" id="page-content">
          <div class="padding">
            <div class="row d-flex justify-content-center align-content-center">
              <div class="col-md-9">
                <div class="card user-card-full">
                  <div class="row m-l-0 m-r-0">
                    <div class="col-sm-3 bg-c-lite-green user-profile">
                      <div class="card-block text-center text-white">
                        <div class="m-b-25">
                          <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius"
                            alt="User-Profile-Image">
                        </div>
                        <h6 class="f-w-600" id="username"></h6>
                        <p id="userNameSurname"></p>
                        <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                      </div>
                    </div>
                    <div class="col-sm-8">
                      <div class="card-block">
                        <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Informazioni</h6>
                        <div class="row">
                          <div class="col-sm-6">
                            <p class="m-b-10 f-w-600">Email</p>
                            <h6 class="text-muted f-w-400" id="userEmail"></h6>
                          </div>
                          <!-- <div class="col-sm-6">
                      <p class="m-b-10 f-w-600">Phone</p>
                      <h6 class="text-muted f-w-400">TODO</h6>
                    </div> -->
                        </div>
                        <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Prenotazioni</h6>
                        <div class="row" id="reservList">
                        </div>
                        <ul class="social-link list-unstyled m-t-40 m-b-10">
                          <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title=""
                              data-original-title="facebook" data-abc="true"><i
                                class="mdi mdi-facebook feather icon-facebook facebook" aria-hidden="true"></i></a></li>
                          <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title=""
                              data-original-title="twitter" data-abc="true"><i
                                class="mdi mdi-twitter feather icon-twitter twitter" aria-hidden="true"></i></a></li>
                          <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title=""
                              data-original-title="instagram" data-abc="true"><i
                                class="mdi mdi-instagram feather icon-instagram instagram" aria-hidden="true"></i></a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-1">
        </div>
      </div>

      <section class="py-0 text-center container">
        <div class="row py-lg-0">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">I tuoi parcheggi</h1>
            <!-- <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p> -->
          </div>
        </div>
      </section>
      <hr>

      <div class="album py-1 bg-light">
        <div class="container mt-4">
          <h3 class="fw-light text-center" id="noParks" hidden>Nessun parcheggio 😭</h3>

          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="parkContainer">
            <div class="col" id="firstPark" hidden>
              <div class="card shadow-sm">
                <img style="vertical-align:middle" class="card-img-top img-fluid imgPark" width="500" height="500"
                  src="">
                <div class="card-body">
                  <p class="card-text parkName"></p>
                  <p class="card-text parkDesc"></p>
                  <p class="card-text parkAddress"></p>
                  <p class="card-text parkId" hidden></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button onclick="detailParking()" type="button"
                        class="btn btn-sm btn-outline-secondary">Dettagli</button>
                      <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Inserimento -->
      <div class="px-4 py-1 my-5 text-center">
        <div class="col-lg-6 mx-auto">
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3" onclick="newParking()">Inserisci nuovo
              parcheggio</button>
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3" onclick="newParkingFromInsertion()">Nuova
              Inserzione</button>
          </div>
        </div>
      </div>

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modifica prenotazione</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="form">
              <form id="insertionForm">
                <!-- dt picker -->
                <div class='row mb-3'>
                  <label id="message-modal" class="text-danger d-block"></label>
                  <div class='col-sm-6'>
                    <label for='linkedPickers1Input' class='form-label'>Da:</label>
                    <div
                    class='input-group log-event'
                    id='linkedPickers1'
                    data-td-target-input='nearest'
                    data-td-target-toggle='nearest'
                    >
                    <input
                      id='linkedPickers1Input'
                      type='text'
                      class='form-control'
                      data-td-target='#linkedPickers1'
                      required
                    />
                    <span
                      class='input-group-text'
                      data-td-target='#linkedPickers1'
                      data-td-toggle='datetimepicker'
                    >
                      <span class='fa-solid fa-calendar'></span>
                    </span>
                    </div>
                  </div>
                  <div class='col-sm-6'>
                    <label for='linkedPickers2Input' class='form-label'>A:</label>
                    <div
                    class='input-group log-event'
                    id='linkedPickers2'
                    data-td-target-input='nearest'
                    data-td-target-toggle='nearest'
                    >
                    <input
                      id='linkedPickers2Input'
                      type='text'
                      class='form-control'
                      data-td-target='#linkedPickers2'
                      required
                    />
                    <span
                      class='input-group-text'
                      data-td-target='#linkedPickers2'
                      data-td-toggle='datetimepicker'
                    >
                      <span class='fa-solid fa-calendar'></span>
                    </span>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" id="close-modal" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
              <button type="button" class="btn btn-primary" id="btnSubmit" onclick="">Modifica</button>
            </div>
          </div>
        </div>
      </div>

    </main>
    <%- include("footer.ejs", {logged: logged}) %>
</body>